<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
</head>
<body>
<button id="protectCookieHeader">Protect with Cookie &amp; Header</button>
<button id="protect">Protect</button>
<button id="ignore">Ignore</button>
<pre id="result"></pre>
<script>
(() => {
    const protectCookieHeaderButton = document.getElementById('protectCookieHeader')
    const protectButton = document.getElementById('protect')
    const ignoreButton = document.getElementById('ignore')

    protectCookieHeaderButton.addEventListener('click', () => {
        const token = '1234random5678'
        document.cookie = `XSRF-TOKEN=${token}`;

        const xhr = new XMLHttpRequest()
        xhr.open('POST', 'http://localhost:8081/csrf/demo/protect')
        xhr.withCredentials = true
        xhr.setRequestHeader('X-XSRF-TOKEN', token)

        xhr.onreadystatechange = () => {
            console.debug(xhr.readyState)
            console.debug(xhr.status)
        }

        xhr.send()
    })

    protectButton.addEventListener('click', () => {
        const xhr = new XMLHttpRequest()
        xhr.open('POST', 'http://localhost:8081/csrf/demo/protect')

        xhr.onreadystatechange = () => {
            console.debug(xhr.readyState)
            console.debug(xhr.status)
        }

        xhr.send()
    })

    ignoreButton.addEventListener('click', () => {
        const xhr = new XMLHttpRequest()
        xhr.open('POST', 'http://localhost:8081/csrf/demo/ignore')

        xhr.onreadystatechange = () => {
            console.debug(xhr.readyState)
            console.debug(xhr.status)
        }

        xhr.send()
    })
})()
</script>
</body>
</html>